---
import ProjectCard from "@/components/ui/ProjectCard.astro";
import image from "@/assets/examples/image3.png";
import processedImage from "@/assets/examples/image3-sobel-operator.png";
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ProjectCard
  title={t("proj.border.title")}
  subtitle={t("proj.border.subtitle")}
  icon="java"
  iconClass="bg-orange-400/10"
>
  <div class="prose dark:prose-invert max-w-none leading-relaxed">
    <p set:html={t("proj.border.desc")} />

    <ul class="mt-2 list-none space-y-2 pl-0 text-gray-600 dark:text-gray-300">
      <li class="flex gap-2">
        <span class="font-bold text-sky-500">›</span>
        <span set:html={t("proj.border.li3")} />
      </li>
    </ul>
  </div>

  <div
    class="mt-auto flex flex-col items-center justify-center gap-4 sm:flex-row"
  >
    <div
      class="overflow-hidden rounded-2xl shadow-sm transition-transform duration-300 hover:z-9 hover:scale-200"
    >
      <Image
        src={image}
        alt={t("proj.border.altOriginal")}
        class="h-32 w-auto object-cover"
      />
    </div>

    <svg class="hidden size-6 sm:block sm:size-9" aria-hidden="true">
      <use href={`#rightArrow`}></use>
    </svg>

    <svg class="block size-6 sm:hidden sm:size-9" aria-hidden="true">
      <use href={`#downArrow`}></use>
    </svg>

    <div
      class="overflow-hidden rounded-2xl shadow-sm transition-transform duration-300 hover:z-9 hover:scale-200"
    >
      <Image
        src={processedImage}
        alt={t("proj.border.altResult")}
        class="h-32 w-auto object-cover"
      />
    </div>
  </div>
</ProjectCard>
