---
import ProjectCard from "@/components/ui/ProjectCard.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const portfolioTechs = {
  Astro:
    "bg-violet-600/10 text-violet-800 dark:bg-violet-500/10 dark:text-violet-100",
  TypeScript:
    "bg-blue-600/10 text-blue-800 dark:bg-blue-500/10 dark:text-blue-100",
  Tailwind:
    "bg-teal-500/10 text-teal-700 dark:bg-teal-400/10 dark:text-teal-200",
  CSS: "bg-blue-500/10 text-blue-700 dark:bg-blue-400/10 dark:text-blue-200",
};
---

<ProjectCard
  title={t("proj.portfolio.title")}
  subtitle={t("proj.portfolio.subtitle")}
  icon="logo"
  iconClass="bg-light dark:bg-light/10 dark:text-light text-dark"
  technologies={portfolioTechs}
>
  <div class="prose dark:prose-invert max-w-none leading-relaxed">
    <p set:html={t("proj.portfolio.desc")} />

    <ul class="mt-2 list-none space-y-2 pl-0 text-gray-600 dark:text-gray-300">
      <li class="flex gap-2">
        <span class="font-bold text-sky-500">›</span>
        <span set:html={t("proj.portfolio.li1")} />
      </li>

      <li class="flex gap-2">
        <span class="font-bold text-sky-500">›</span>
        <span set:html={t("proj.portfolio.li2")} />
      </li>
    </ul>
  </div>
</ProjectCard>
