.theme-toggle-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.icon-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-state> :global(svg) {
  width: 100%;
  height: 100%;
}

.off-state {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.theme-checkbox:checked~.off-state {
  opacity: 0;
  transform: scale(0) rotate(90deg);
}

.on-state {
  opacity: 0;
  transform: scale(0) rotate(-90deg);
}

.theme-checkbox:checked~.on-state {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
