---
import ThemeToggle from "@/components/ui/ThemeSwitcher/ThemeToggle.astro";
import Burger from "@/components/ui/BurgerButton/Burger.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const navLinks = [
  { name: t("nav.projects"), href: "#projects" },
  { name: t("nav.education"), href: "#education" },
  { name: t("nav.skills"), href: "#skills" },
];
---

<section
  id="navbar"
  class="bg-light/30 shadow-3d-light dark:bg-dark/30 dark:shadow-3d-dark fixed top-0 left-1/2 z-50 mt-4 flex w-[95%] max-w-5xl -translate-x-1/2 items-center justify-between rounded-3xl px-6 py-4 backdrop-blur-lg transition-transform duration-300"
>
  <div id="right" class="flex items-center gap-4">
    <div class="flex items-center gap-4">
      <ThemeToggle class="text-dark dark:text-light size-7 sm:size-9" />
      <Burger
        class="text-dark dark:text-light"
        id="lang-burger"
        dataPosition="left"
        type="languages"
      >
        <div class="flex flex-col gap-1">
          <span class="px-4 py-2 text-xs font-bold text-gray-500 uppercase">
            {t("nav.languages")}
          </span>
          {
            Object.entries(languages).map(([langKey, label]) => {
              const isCurrent = lang === langKey;

              return (
                <a
                  href={!isCurrent ? translatePath("/", langKey) : null}
                  class={`text-dark dark:text-light rounded-3xl px-4 py-2 text-lg font-medium transition-colors hover:bg-black/10 dark:hover:bg-white/10 ${
                    isCurrent
                      ? "pointer-events-none cursor-default bg-black/5 font-bold dark:bg-white/5"
                      : ""
                  }`}
                  aria-disabled={isCurrent}
                >
                  {label}
                </a>
              );
            })
          }
        </div>
      </Burger>
    </div>
  </div>
  <Burger class="text-dark dark:text-light">
    <div class="flex flex-col gap-1">
      {
        navLinks.map((route) => (
          <a
            href={translatePath(route.href)}
            class="text-dark dark:text-light rounded-3xl px-4 py-2 text-lg font-medium transition-colors hover:bg-black/10 dark:hover:bg-white/10"
          >
            {route.name}{" "}
          </a>
        ))
      }
    </div>
  </Burger>
</section>
<script>
  let lastScrollY = window.scrollY;
  let scrollDownAccumulator = 0;
  const SCROLL_THRESHOLD = 150;
  let isAutoScrolling = false;
  let scrollTimeout;

  const navbar = document.getElementById("navbar");

  const anchors = document.querySelectorAll('a[href^="#"]');
  anchors.forEach((anchor) => {
    anchor.addEventListener("click", () => {
      isAutoScrolling = true;
      navbar.classList.remove("-translate-y-[200%]");
      scrollDownAccumulator = 0;
    });
  });

  window.addEventListener("scroll", () => {
    if (!navbar) return;

    if (isAutoScrolling) {
      clearTimeout(scrollTimeout);
      scrollTimeout = setTimeout(() => {
        isAutoScrolling = false;
      }, 150);

      lastScrollY = window.scrollY;
      return;
    }
    const currentScrollY = window.scrollY;
    const difference = currentScrollY - lastScrollY;

    if (currentScrollY <= 50) {
      navbar.classList.remove("-translate-y-[200%]");
      scrollDownAccumulator = 0;
    } else if (difference > 0) {
      scrollDownAccumulator += difference;
      if (scrollDownAccumulator > SCROLL_THRESHOLD) {
        navbar.classList.add("-translate-y-[200%]");
      }
    } else if (difference < 0) {
      navbar.classList.remove("-translate-y-[200%]");
      scrollDownAccumulator = 0;
    }

    lastScrollY = currentScrollY;
  });
</script>
