.popup {
  --popup-bg: #F5EDE000;
  --popup-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25);

  position: absolute;
  z-index: 9999;
  min-width: 200px;
  user-select: none;

  background: var(--popup-bg);

  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border-radius: 1.5rem;

  box-shadow: var(--popup-shadow);
  padding: 9px;

  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition:
    transform 0.36s cubic-bezier(0.175, 0.885, 0.32, 1.15),
    opacity 0.3s ease;
}

.dark .popup {
  --popup-bg: #19191950;
  --popup-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.popup.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
